<div class="row">
	<div class="span6 offset3" align="center">
		<h1><%= @user.name %></h1>
		<%= gravatar_for @user %>
		<p>Points: <%= @user.points if @user.points %></p>
		<p>Recorded Matches: <%= @stats[:matches].to_s %> (<%= @stats[:wins].to_s %>-<%= (@stats[:matches]-@stats[:wins]).to_s %>)</p>
	</div>
</div>
<div class="row">
	<div class="offset3 span6">
    <table class="table table-striped table-condensed">
			<caption align="center"><h3>Last 10 Matches</h3></caption>
			<tr><th>Date</th><th>Result</th><th>Score</th><th>Points</th><th>Opponent</th></tr>
			<%= render @scores %>
		</table>
	</div>
</div>
