<%# add navigation links to this file %>
<li><%= link_to "Rankings", "/rankings" %></li>
<li><%= link_to "Scores", "/recentscores" %></li>
<!--<li><%= link_to "House League", "/houseleague" %></li>-->
<li><%= link_to "Help", "/help" %></li>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <li><%= link_to "Admin", "/admin" %></li>
  <% end %>

  <li>
   	<div class="btn-group">
   		<button class="btn btn-primary"><%= current_user.name %></button>
   		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   			<span class="caret"></span>
   		</button>
   		<ul class="dropdown-menu">
   			<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
   			<li><%= link_to "Sign Out", destroy_user_session_path, :method =>'delete'	%></li>
   		</ul>
   	</div>
 	</li>
<% else %>
 	<li><%= link_to "Sign In", new_user_session_path %></li>
  <li><%= link_to "Register", new_user_registration_path %></li>
<% end %>

